# Ignore python cache
tools/wrappers/__pycache__/*
tools/__pycache__/*
data_base/__pycache__/*
__pycache__/*


# Ignore data base Sqlite3
data_base/url_recovery.sqlite3


# Ignore files win32
win32/Getit-EXE/*